body {
    background-color: #e4f5fd;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1891ac;
    color: #ffffff;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
}

.izquierda {
    display: flex;
    align-items: center;
}

.izquierda ul,
.derecha ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.izquierda ul li a,
.derecha ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.elementoNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    margin-left: 10px;
    transition: background-color 0.6s;
}

.elementoNav:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.elementoNav:hover a {
    color: #02415f;
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    margin: 4px auto;
    transition: background-color 0.3s;
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .derecha ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #1891ac;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-top: 2px solid #ffffff;
    }

    .derecha ul.show-menu {
        display: block;
    }

    .derecha ul li {
        padding: 10px;
        text-align: center;
    }
}

.introduccion {
    text-align: center;
    padding: 50px;
    background-color: #e4f5fd;
    margin-top: 60px;
}

h1 {
    font-size: 32px;
    color: #1891ac;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.contenedor {
    max-width: 800px;
    margin: 90px auto; /* Ajustado para evitar que se superponga con la barra de navegaci칩n */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.informacion {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.mapa {
    width: 50%;
    max-width: 5px; 
    margin-right: 20px;
    float: left;
}

.detalles {
    flex: 1;
    padding: 20px;
    box-sizing: border-box; 
}

.detalles {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.detalles h2 {
    font-size: 20px;
}

.detalles p {
    font-size: 16px;
    margin: 10px 0;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Cambiado para resaltar del fondo blanco */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Aumentado el sombreado */
    border-radius: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin: 10px 0;
}

#mensaje {
    resize: none;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #1891ac;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #02415f;
}

footer {
    background-color: #ffffff;
    color: #111111;
    padding: 20px;
    text-align: center;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

#menu-toggle {
    margin-left: 10px;
}

.idioma-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.idioma-label {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    font-size: 14px; /* Tama침o de fuente reducido */
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px; /* Reducci칩n del ancho del interruptor */
    height: 15px; /* Reducci칩n de la altura del interruptor */
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px; 
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px; 
    width: 12px; 
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:checked+.slider:before {
    transform: translateX(16px);
}
