body {
    background-color: #e4f5fd;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #1891ac;
    color: #ffffff;
    padding: 10px 15px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 9999; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo img {
    width: 80px;
 }
  
.izquierda {
    display: flex;
    align-items: center;
}
  
.izquierda ul,
.derecha ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
  
.izquierda ul li a,
.derecha ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.elementoNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
  margin-left: 10px;
  transition: background-color 0.6s;
}

.elementoNav:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.elementoNav:hover a {
  color: #02415f;
}

.introduccion {
  text-align: center;
  padding: 50px;
  background-color: #e4f5fd;
  margin-top: 60px;
}

h1 {
  font-size: 32px;
  color: #1891ac;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}
  
#features {
    color: #ffffff;
    padding: 30px;
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.containerChild {
    width: 23%;
    height: 430px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    transition: box-shadow 0.3s; 
    background-color: #f8f8f8;
    overflow: hidden;
    padding-bottom: 18px;
}

.containerChild:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.containerChild img {
    display: block;
    width: 100%; 
    height: 300px; 
    margin-bottom: 10px;
    object-fit: cover; 
}

.containerChild a {
    color: #111111;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerChild h2 {
    margin-top: 10px;
}

.informacion {
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
  
footer {
    background-color: #ffffff;
    color: #111111;
    padding: 20px;
    text-align: center;
}
  
.social-icons {
    margin-top: 20px;
}
  
.social-icons a {
    margin-right: 10px;
}
  
.social-icons img {
    width: 30px;
    height: 30px;
}


