body {
    background-color: #e4f5fd;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
  
header {
    background-color: #1891ac;
    color: #ffffff;
    padding: 10px 15px;
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 9999; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.logo img {
    width: 80px;
 }
  
.izquierda {
    display: flex;
    align-items: center;
}
  
.izquierda ul,
.derecha ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}
  
.izquierda ul li a,
.derecha ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.elementoNav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 17px;
  margin-left: 10px;
  transition: background-color 0.6s;
}

.elementoNav:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.elementoNav:hover a {
  color: #02415f;
}

.hamburger {
  display: none; 
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.bar {
  background-color: #ffffff;
  display: block;
  height: 2px;
  width: 25px;
  margin: 4px auto;
  transition: background-color 0.3s;
}

@media screen and (max-width: 600px) {
  .hamburger {
      display: block; 
  }

  .derecha ul {
      display: none;
      position: absolute;
      top: 70px; 
      right: 0;
      background-color: #1891ac;
      width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-top: 2px solid #ffffff;
  }
  
  .derecha ul.show-menu {
      display: block;
  }
  
  .derecha ul li {
      padding: 10px;
      text-align: center;
  }
}

.titulo{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    color: #1891ac;
}

.titulo h1 {
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}
  
.titulo h2 {
    font-size: 1.5rem; 
    margin: 0; 
}

.container {
    max-width: 85%; 
    margin: 0 auto; 
    margin-bottom: 5vw;
    margin-top: 100px;
}

.fila {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 80px;
  height: 30vh; 
}


.div1 {
  flex: 3; 
  padding: 20px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 {
  flex: 1; 
  width: 5000px;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div2 img {
  max-width: 100%;
  height: auto;
}

.div1 p {
  margin: 0;
}

@media screen and (max-width: 750px) {
  .fila {
    flex-direction: column; /* Cambiar la dirección de la fila para apilar los elementos en pantallas pequeñas */
    height: auto; /* Cambiar la altura automática */
    gap: 15px;
    width: 100%;
  }

  #columnaRevertida {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    height: auto; 
    gap: 15px;
  }

  .div1,
  .div2 {
    flex: none;
    width: 100%; /* Ancho completo en pantallas pequeñas */
  }

  .div1 p,
  .div2 img {
    max-width: 100%; /* Asegurarse de que el contenido no se desborde en pantallas pequeñas */
  }

  .container{
    width: 100%;
  }

  .div1{
    width: 90%;
  }

}

span {
  color: #1891ac; 
  font-weight: bold; 
}

.resaltado {
    color: #1891ac; 
    font-weight: bold; 
}

footer {
    background-color: #ffffff;
    color: #111111;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
  
.social-icons {
    margin-top: 20px;
}
  
.social-icons a {
    margin-right: 10px;
}
  
.social-icons img {
    width: 30px;
    height: 30px;
}

#menu-toggle {
  margin-left: 10px;
}

.idioma-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.idioma-label {
  flex: 1;
  text-align: center;
  margin: 0 5px;
  color: #ffffff;
  font-size: 14px; 
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px; /* Reducción del ancho del interruptor */
  height: 15px; /* Reducción de la altura del interruptor */
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 15px; 
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px; 
  width: 12px; 
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:checked+.slider:before {
  transform: translateX(16px);
}
