body {
    background-color: #e4f5fd;
    color: #111111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #1891ac;
    color: #ffffff;
    padding: 10px 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 80px;
}

.izquierda {
    display: flex;
    align-items: center;
}

.izquierda ul,
.derecha ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.izquierda ul li a,
.derecha ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.elementoNav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 17px;
    margin-left: 10px;
    transition: background-color 0.6s;
}

.elementoNav:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.elementoNav:hover a {
    color: #02415f;
}

h1 {
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 2.7rem;
    font-size: 2.2rem;
    color: #1891ac;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logo {
    width: 20rem;
    height: auto;
    margin-bottom: 3rem;
}

#logo img {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

#logo img:hover {
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.4);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}

input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

button {
    background-color: #1891ac;
    color: #ffffff;
    border: none;
    padding: 8px 18px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #178b9e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    color: #111111;
    padding: 10px;
    text-align: center;
    margin-top: 100%;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

@media (min-width: 769px) {
    .izquierda {
        flex-direction: row;
        align-items: center;
    }

    .derecha {
        display: flex;
    }

    .elementoNav {
        margin-left: 10px;
        margin-top: 0;
    }

    h1 {
        font-size: 2.2rem;
        margin-top: 9rem;
    }

    #logo {
        width: 20rem;
    }

    label {
        font-size: 1.3rem;
    }

    input {
        width: 300px;
    }

    button {
        width: 100px;
    }
}

.hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.bar {
    background-color: #ffffff;
    display: block;
    height: 2px;
    width: 25px;
    margin: 4px auto;
    transition: background-color 0.3s;
}

@media screen and (max-width: 600px) {
    .hamburger {
        display: block;
    }

    .derecha ul {
        display: none;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #1891ac;
        width: 100%;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-top: 2px solid #ffffff;
    }

    .derecha ul.show-menu {
        display: block;
    }

    .derecha ul li {
        padding: 10px;
        text-align: center;
    }
}

#menu-toggle {
    margin-left: 10px;
}

.idioma-container {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.idioma-label {
    flex: 1;
    text-align: center;
    margin: 0 5px;
    color: #ffffff;
    font-size: 14px;
    
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

.switch input {
    display: none;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

.switch input:checked+.slider:before {
    transform: translateX(16px);
    color: #ffffff;
}